Hello <%=yourname%>. What is your age?
<br>
<br>
<form method="post" action="getage">
	<input type="number" name="user_age">
	<input type="text" name="user_name" value = <%=yourname%> hidden>
<br>
<br>
	<input type="submit">
</form>