Tell me <%name%>, what are your 3 favorite numbers?

<form method="post" action="getnumbers">
	<input type="number" name="fav_1">
	<input type="number" name="fav_2">
	<input type="number" name="fav_3">
	<input type="number" name="user_age" value = <%=age%> hidden>
	<input type="text" name="user_name" value = <%=name%> hidden>
	<input type="submit">	
</form>

