Tell me <%=yourname%>, what are your 3 favorite numbers?
<br>
<br>
<form method="post" action="getnumbers">
	<input type= "number" name= "fav_1" autofocus>
<br>
	<input type= "number" name= "fav_2" autofocus="">
<br>
	<input type= "number" name= "fav_3" autofocus="">
<br>
	<input type= "text" name= "user_age" value = <%=age%> hidden>
	<input type= "text" name= "user_name" value = <%=yourname%> hidden>
<br>
<br>
	<input type= "submit">	
</form>